<div class="container">
  <div class="pt-5">
    <div class="row">
      <h1 class="mx-auto">welcome to <i class="fas fa-video"></i></br>
      <strong>MachineUseVideo</strong>!!</h1></br>
    </div>
        機械の使用方法を確認できるサイトとなっています</br>
        <div>ゲストユーザーで確認する場合はLog inをクリック!</div></br>
        <div class="btn-wrapper col-5 mx-auto">
          <div class="row">
            <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
          </div>
          <div class="row">
            <%= link_to 'Sign Up',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
          </div>
        </div>
    </div>
  </div>
