<div class="container">
  <h2 class="mt-5">管理者側ジャンル編集表示</h2>

  <div class="row px-5 mx-5">
    <div class="col-6 offset-3">
      <%= form_with model: @genre, url: admin_genre_path do |f| %>

      <div class="field form-group row">
      <%= f.label :ジャンル名, class: "col-4" %>
      <%= f.text_field :name %>
      </div>

      <div class="field form-group row">
      <div class="col-7 offset-4">
      <%= f.submit '保存', class: 'btn btn-primary' %>
      </div>
      </div>
      <% end %>
    </div>
  </div>

</div>