<div class="container">
  <h2 class="mt-5">ユーザージャンル別表示画面</h2>

<%= @genre.name %>

<%#= @machine.video %>
<% @machines.each do |machine| %>
<%= link_to machine.name, machine_path(machine.id) %>
<% end %>

</div>