<div class="container">
  <h2 class="mt-5">管理者側ユーザー一覧確認画面</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>電話番号</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><%= user.email %></td>
        <td><%= user.tel_number %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
